apiVersion: v1
kind: ConfigMap
metadata:
  name: database-config
  namespace: globo
data:
  DATABASE_URL: svc-postgres.database.cluster.local
  DATABASE_USER: usr_costmate
  DATABASE_PASSWORD: xadkncbirheywv
---
apiVersion: v1
kind: Service
metadata:
  name: globo-service
  namespace: globo
spec:
  selector:
    app: globo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: globo-deployment
  namespace: globo
  labels:
    app: globo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: globo
  template:
    metadata:
      labels:
        app: globo
    spec:
      containers:
      - name: globo-container
        image: ramon23sousa/teste-globo:mac10
        ports:
        - containerPort: 8080
        envFrom:
          - configMapRef:
              name: database-config
        resources:
          limits:
            cpu: 2.0
            memory: 4000Mi
          requests:
            cpu: 0.5
            memory: 1000Mi
        livenessProbe:
          httpGet:
            path: /costmate/actuator
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /costmate/actuator
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 3